doctype html
h1= title
p Welcome to #{title}
form(action='/login', method='post')
  input#username(type='text', name='username', placeholder='Username')
  input#password(type='text', name='password', placeholder='Password')
  br
  br
  input.button(type='submit', value='Log In')
