doctype html
form(action='/newSpace', method='post')
  input#name(type='text', name='name', placeholder='Name of Space')
  br
  input#description(type='text', name='description', placeholder='Description of Space')
  br
  input#price(type='number', name='price', step="0.01", placeholder='Price Per Night of Space')
  br
  br
  input.button(type='submit', value='List Space')
