doctype html
block content
  form(action='/newSpace', method='get')
    input.button(type='submit', value='List a New Space')

  - for (var i=0; i<spaces.length; i++)
    p #{spaces[i].name}
    form(action='/delete/#{spaces[i].id}', method='post')
      input.button(type='submit' id='#{spaces[i].id}', value='delete')
